.landing{
    background: radial-gradient(#c6cacf,#035b8f);
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
}

.landing .logo img{
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    width: 30vw;
}
.landing {
    overflow:auto;
    
}

/* .MuiContainer-root{
    padding-bottom: 10px !important;
} */
.makeStyles-paper-1{
    margin-top: 1em !important;
}

@media only screen and (max-width: 700px) {
    .landing .logo{
        display: none;
    }
    main{
        padding-bottom: 1px;
    }
  }