.nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
    background-color: #145c4a;
    color: #ddd;
}
.nav-left{
    position: relative;
    right: 20%;
}
.nav-left img{
    max-width: 70px;
}
.nav-right{
    display: flex;
    position: relative;
    left: 24%;
}
