.sidenav{
    width: 20vw;
    text-align: center;
    background-color: #ddd;
    color: #022544;
    height: 90vh;
    text-decoration: underline;
}
.closeSidebar h2{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    cursor: pointer;
}
.events{
  padding: 25px;
}
@media only screen and (max-width: 600px) {
    .sidenav {
        display: none;
      background-color: lightblue;
    }
  }
