.signup button{
    width: 100px;
    padding: 5px;
    margin-left: 10px;
    color: #ddd;
    background-color: transparent;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.signup button:hover{
    background-color: #ddd;
    color: #022544;
}
.closeModal{
    position: absolute;
    background-color: transparent;
    border: none;
    right: 10px;
    top: 6px;
}